ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.user-wrapper, .message-wrapper {
    border: 1px solid #dddddd;
    overflow-y: auto;
}

.user-wrapper {
    height: 540px;
}

.user {
    cursor: pointer;
    padding: 5px 0;
    position: relative;
}

.user:hover {
    background: #eeeeee;
}

.user:last-child {
    margin-bottom: 0;
}

.pending {
    position: absolute;
    left: 5px;
    top: 9px;
    background: #b600ff;
    margin: 0;
    border-radius: 50%;
    width: 30px;
    height: 27px;
    line-height: 25px;
    padding-left: 9px;
    color: #ffffff;
    font-size: 12px;
}

.media-left {
    margin: 0 10px;
}

.media-body p {
    margin: 5px 0;
}

.message-wrapper {
    padding: 10px;
    height: 475px;
    background: #eeeeee;
}

.messages .message {
    margin-bottom: 10px;
}

.messages .message:last-child {
    margin-bottom: 0;
}

.received, .send {
    width: 45%;
    padding: 3px 10px;
    border-radius: 10px;
}

.received {
    background: #ffffff;
}

.send {
    background: #3bebff;
    float: right;
    text-align: right;
}

.message p {
    margin: 5px 0;
}

.date {
    color: #777777;
    font-size: 12px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0 0 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #cccccc;
}

input[type=text]:focus {
    border: 1px solid #aaaaaa;
}


















